{% extends 'base.html' %}

{% block content %}
<h2>Your Assignments</h2>

<a class="btn btn-primary mb-3" href="{% url 'assignment_add' %}">Add Assignment</a>

<ul class="list-group">
    {% for a in assignments %}
    <li class="list-group-item d-flex justify-content-between">
        {{ a.title }} - {{ a.due_date }}
        <span>
            {% if not a.is_completed %}
            <a href="{% url 'assignment_complete' a.id %}" class="btn btn-success btn-sm">Done</a>
            {% endif %}
            <a href="{% url 'assignment_delete' a.id %}" class="btn btn-danger btn-sm">Delete</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}